#hubSelector {
    height: 20vh;
    width: 20vw;
    border: 1px solid black;
    padding: 5px;
    display:flex;
    margin-bottom: 10px;
}

#currentHub {
    height: 70vh;
    width: 20vw;
    /*border:1px solid black;*/
    padding:5px;
    margin-left: 10px;
    float:left;
}

#currentHubImage {
    margin-top: 10px;
    padding: 5px;
}

#currentDetails {
    height: 45vh;
    width: 20vw;
    /*border: 1px solid black;*/
    float: left;
    margin-left: 50px;
    padding: 10px;
    padding-top: 60px;
}

.hubButton {
    border: 1px solid black;
    background-color: skyblue;
    width: 8vw;
    text-align:center;
    cursor: pointer;
}


table {
    border-collapse: collapse;
}

.tableBorder tr {
    border: 1px solid black;
}

.tableBorder td {
    padding: 10px;
    width: 300px;
}

.entrance {
    font-weight: bold;
    background-color: lightgreen;
    cursor: pointer;
}

.blockageLabel {
    height: 15px;
    width: 15vw;
    padding:5px;
    display:block;
}

#resetButtons {
    margin: 0 auto;
    display: table;
    width: 50%;
    padding-top:100px;
}

#resetButtons button {
    font-size: 15px;
    cursor: pointer;
}